body
{
  color: white;
  background: #ffcdc0;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
#headdiv{
  background-color: #b7099a;
  color: #f0baf0;
  font-family: 'Syne Mono', monospace;
  border-radius: 10px;
  border-color: #f0bae7;
  border-width: 2px;
  border-style: dashed;
  margin: 10px;
  width: 400px;
  height: 150px;
}
#instuct{
  font-family: 'Indie Flower', cursive;
  color: rgb(111, 0, 255);
  font-weight: bolder;
  font-size: medium;
}
button{
  font-family: 'Indie Flower', cursive;
  color: rgb(195, 148, 255);
  background-color: rgb(149, 73, 250);
}